.header {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  display: flex;
  align-items: center;
  z-index: 100;
  height: clamp(60px,5%,80px); 
  padding-left: max(12px, 3vh); /* Based on open sidebar button width */
}

/* Header links CSS */
.header-list {
  display: flex;
  justify-content: center;
  width: 200px;
  flex: 1;
  column-gap: 10vw;
}
.header-link {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: min(10vw, 24px, 5vh);
  transition: border-bottom .3s ease-in;
}
/* When you mouse over the header links, change their color */
.header-link:hover {
  border-color: white;
}

/* Header Icons CSS */
.header-icon-container {
  width: clamp(1%, 50px, 10%);
  margin-right: 10px;
}
.social-media-icon {
  width: 100%;
  filter: invert(100%);
  transition: .3s;
}
.social-media-icon:hover {
  opacity: .5;
}

.dropdown {
  position: relative;
  color: white;
  font-size: min(10vw, 24px, 5vh);
}

.dropdown-content {
  position: absolute;
  background-color: black;
  font-size: min(6vw, 18px, 4vh);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  transition: opacity .15s;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  pointer-events: all;
}

.dropdown-link {
  flex: 1;
  color: lightgray;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom .3s ease-in;
}
.dropdown-link:hover {
  border-color: white;
}